apiVersion: apps/v1
kind: Deployment
metadata:
  name: report
  labels:
    app: report
spec:
  replicas: 1
  selector:
    matchLabels:
      app: report
  template:
    metadata:
      labels:
        app: report
      annotations:
        sidecar.istio.io/inject: "true"
    spec:
      containers:
        - name: report
          image: 496278789073.dkr.ecr.ap-northeast-1.amazonaws.com/skccuser13-report:v1
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: '/reports'
              port: 8080
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: '/reports'
              port: 8080
            initialDelaySeconds: 120
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 5
